@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
:root{
    --light-blue: #8492c3;
    --dark-blue: #5f7adb;
    --light-black: #26292B;
    --black:#1D1E23;
    --white:#FFFAFF;
    --brown:#837474;
    --deg: -86deg;
	--trans: all 0.4s ease 0s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Young Serif', serif;
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

/* Scroll bar stylings */
::-webkit-scrollbar{
    width: 20px;
}

/* Scroll bar track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--black);
    background: var(--light-black);
  }
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--light-blue);
    border-radius: 5px;
    box-shadow: inset 0 0 5px var(--light-black);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue);
    transform: scale(1.2);
}

body{
    min-height: 100vh;
    background: var(--black);
}

body *,
body *:before,
body *:after {
	box-sizing: border-box;
}


/* Link Stylings */
a{
    text-decoration: none;
}

/* Header Stylings */
header{
    position: fixed;
    background-color: var(--black);
    top:0;
    left: 0;
    width: 100%;
    height: 11%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    border-bottom: 5px solid var(--light-black);
}

header .logo{
    color: var(--dark-blue);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: var(--light-blue);
    border-radius: 20px;
}

header ul li a:hover{
    background: var(--white);
    color: var(--black);
}
header ul li a:active{
    background: var(--dark-blue);
    color: var(--black);
}

header ul li a.active{
    background: var(--light-blue);
    color: var(--black);
}

/* Section Stylings */
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
} 

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,var(--black),transparent);
    z-index: 1000;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    pointer-events: none;
    opacity: 0.8;
    
    /* transition: 0.2s; */
}

#text{
    position: absolute;
    color: var(--light-blue);
    white-space: nowrap;
    font-size:  5.5vw;
    z-index: 9;
    /* transition: 0.05s; */
}

/* Explore button */
#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: var(--light-black);
    color: var(--white);
    font-size: 1.5em;
    z-index: 11;
    transform: translateY(100px);
    transition: 0.5s;
}

#btn:hover{
    background: var(--dark-blue);
    color: var(--light-black)
}

/* About Stylings */

.about{
    position: relative;
    padding: 100px;
    background-color: var(--black);   
}

p img#mugshot{
    float: left;
    margin-right: 20px;
    width: 12.5%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px, rgba(255, 255, 255, 0.20) 0px 3px 6px;
}

.about h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: var(--dark-blue);
}

.about p{
    font-size: 1em;
    color:var(--light-blue)
}

/* Work Stylings */
.work{
    position: relative;
    padding: 100px;
    background-color: var(--black);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    display: inline-block;
}

/* Work Header */
.work h2{
    font-size: 3.5em;
    margin: auto;
    text-align: center;
    width: 75%;
    padding: 10px;
    color: var(--dark-blue);
    border-bottom: 2px solid var(--light-black);
}

/* Content Window */
.content {
	width: auto;
    max-height: 30em;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: inset 0 0 5px var(--light-black);
    margin-top: 10px;
}

/* List of Contributiton tabs */
.contributions {
	padding: 4em 0 4em 4.5em;
	margin: 0;
}

/* Indivdual Contributiton tabs */
.contribution {
	margin: 1.5em 0 0.5em;
	padding: 0.73em;
	background: linear-gradient(
		83deg,
		var(--light-black) 0 97%,
		#fff0 calc(97% + 1px) 100%
	);
	position: relative;
	list-style: none;
	display: inline-block;
	transform: scale(0.85);
	transition: var(--trans);
    filter: drop-shadow(0px 20px 10px var(--black));
    max-width: 75%;
}
/* Every other Contribution */
.contribution:nth-of-type(even) {
	text-align: right;
    float: right;
    margin-right: 5em;
	background: linear-gradient(
		-83deg,
		var(--light-black) 0 97%,
		#fff0 calc(97% + 1px) 100%
	);
}

/* Thumbnail for each tab */
.thumb {
	width: 180px;
	height: 180px;
	float: left;
	margin-right: 1.25em;
	background: linear-gradient(
		var(--deg),
		var(--light-blue) 0 70%,
		var(--dark-blue) 0% 100%
	);
	transition: var(--trans);
	border-radius: 0.25em;
	overflow: hidden;
	margin-left: -3em;
	padding: 0.5em;
}

/* Every other Thumbnail */
.contribution:nth-of-type(even) .thumb {
	float: right;
	margin-left: 2em;
	margin-right: -5em;
}

.thumb img {
	width: 100%;
	height: 100%;
	border-radius: 0.25em;
	filter: grayscale(1);
	background: var(--light-black);
}

.contribution:hover {
	transform: scale(1);
	transition: var(--trans);
	filter: drop-shadow(0px 20px 10px var(--light-blue));
}

.contribution:hover .thumb {
	padding: 0.1em;
	transition: var(--trans);
}


.contribution:hover .thumb img {
	filter: none;
	transition: var(--trans);
}

.description {
	padding-top: 1vmin;
}

.description p {
    color: var(--dark-blue);
	padding: 0 2em;
	margin-bottom: 1em;
}

.work h3 {
	background: linear-gradient(180deg, var(--black) 60%, var(--light-black) 0 100%);
	display: inline;
	position: absolute;
	margin: 0;
	margin-top: -2.25em;
	left: 9vmin;
	padding: 0.5em 0.75em;
	color: var(--dark-blue);
	border-radius: 0.25em;
	font-size: 1.35em;
	transform-origin: left bottom;
}

.contribution:nth-of-type(even) h3 {
	left: inherit;
	right: 9vmin;
	transform-origin: right bottom;
	background: linear-gradient(-180deg, var(--black) 60%, var(--light-black) 0 100%);
}

.contribution:hover h3 {
	transition: var(--trans);
	background: linear-gradient(180deg, var(--light-black) 59%, var(--black) 0 100%);
}

.description p a {
	display: inline-block;
	margin: 0.5em 0 0 0;
	background: var(--black);
	color: var(--light-blue);
	padding: 0.1em 0.5em 0.35em;
	border-radius: 0.5em;
	text-decoration: none;
	transition: var(--trans);
}
.description p a:hover {
	transition: var(--trans);
	color: var(--light-black);
	background: var(--light-blue);
	font-weight: bold;
}

.description p a img {
	float: left;
	width: 22px;
	filter: invert(1);
	border-radius: 0.15em;
	padding: 2px;
	background: #fff;
	margin-right: 2px;
}


/* Contact Stylings */
.video{
    position: relative;
    padding: 100px;
    background-color: var(--black);   
}

.video h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: var(--dark-blue);
}

.video p{
    font-size: 1em;
    color:var(--light-blue)
}