@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Young Serif', serif;
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body{
    min-height: 100vh;
    background: linear-gradient(#26292B, #5F7ADB);
}

header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 11%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    transition: background-color 0.5s;
}

header .logo{
    color: #a2b2ee;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #a2b2ee;
    border-radius: 20px;
}

header ul li a:hover{
    background: #fff;
    color: #26292B;
}
header ul li a:active{
    background: #837474;
    color: #26292B;
}

header ul li a.active{
    background: #a2b2ee;
    color: #26292B;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#26292B,transparent);
    z-index: 1000;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon{
    mix-blend-mode: screen;
}

section img#mountains_front{
    z-index: 10;
}

p img#mugshot{
    float: left;
    margin: 5px;
    width: 19.5%;
    height: 19.5%;
}

img#tempTimeline{
    margin: 5px;
    width: 80%;
    height: auto;
}

.timeline{
    align-items: center;
}

#text{
    position: absolute;
    color: #a2b2ee;
    white-space: nowrap;
    font-size:  5.5vw;
    z-index: 9;
}

#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #26292B;
    font-size: 1.5em;
    z-index: 11;
    transform: translateY(100px);
}

.about{
    position: relative;
    padding: 100px;
    background-color: #26292B;   
}

.about h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #a2b2ee;
}

.about p{
    font-size: 1em;
    color:#a2b2ee
}

.work{
    position: relative;
    padding: 100px;
    background-color: #26292B;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.timeline {
    white-space: nowrap;
    overflow-x: auto;
    padding: 20px 0;
    display: flex;
}

.event {
    display: inline-block;
    width: fit-content;
    margin-right: 50px;
    vertical-align: top;
    background-color: #837474;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    height: auto;   
}

.event:last-child {
    margin-right: 0;
}

p img#temp{
    float: left;
    margin: 5px;
    width: 97%;
    height: auto;
}

.work h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #a2b2ee;
}

.work h3{
    font-size: 2em;
    margin-bottom: 10px;
    color: #a2b2ee;
}

.work p{
    font-size: 1em;
    color:#a2b2ee
}

.contact{
    position: relative;
    padding: 100px;
    background-color: #26292B;   
}

.contact h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #a2b2ee;
}

.contact p{
    font-size: 1em;
    color:#a2b2ee
}